{%extends 'base.html'%}
{%block title %}Url Shortner{%endblock title %}
{%block content%}
<div class="" style="background-color: gainsboro; padding-top: 10rem; padding-bottom: 9rem; height: 40rem;">
    <div class="row align-items-center">
        <div class="text-center">
            <div style="font-size: 100px;">URL Shortner</div>
            <p style="color: hsl(9, 100%, 64%); font-weight: 500; font-size: large;">Short your URLs for FREE</p>
        </div>
    </div>
</div>
{%endblock content%}